:root {
  --cursorForLink: pointer;
  --font1: Verdana, "Lucida Sans";
  --font2: Arial, serif;
}

* {
	font-size: 30px;
	font-family: var(--font2);
}

.button {
	cursor: var(--cursorForLink);
	margin-top: 10px;
}

.cell {
	float: right;
}

.column_direction {
	flex-direction: column;
}
			
.flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.helper_text {
	color: red;
	text-align: center;
}
			
.horizontal_centering {
	align-items: center;
	justify-content: center;
}
			
.logo {
	height: 80%;
	width: auto;
}

.title {
	font-size: 45px;
	text-decoration: underline
}