* {
	font-size: 35px;
	font-family: Arial, serif;
}
			
.flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
			
.horizontal_centering {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
			
.title {
	font-size: 45px;
	text-decoration: underline
}
			
.logo {
	margin-bottom: -45px;
	height: 80%;
	width: auto;
}